{{ header }}
{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>

            <h1>{{ heading_title }}</h1>

            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible">
                <i class="fa fa-exclamation-circle"></i>
                {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>

            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-general" data-toggle="tab">{{ tab_general }}</a>
                        </li>
                        <li>
                            <a href="#tab-products" data-toggle="tab">{{ tab_products }}</a>
                        </li>
                        <li>
                            <a href="#tab-prices" data-toggle="tab">{{ tab_prices }}</a>
                        </li>
                        <li>
                            <a href="#tab-settings" data-toggle="tab">{{ tab_settings }}</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                                    {% if error_name %}
                                        <div class="text-danger">{{ error_name }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-id">{{ entry_id }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="attr_ID" value="{{ attr_ID }}" placeholder="{{ entry_id }}" id="input-id" class="form-control" />
                                </div>
                            </div>

                            <br />

                            <ul class="nav nav-tabs" id="language-general">
                                {% for language in languages %}
                                    <li>
                                        <a href="#language-general-{{ language.language_id }}" data-toggle="tab">
                                            <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <div class="tab-content">
                                {% for language in languages %}
                                    <div class="tab-pane" id="language-general-{{ language.language_id }}">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-title{{ language.language_id }}">
                                                <span data-toggle="tooltip" data-container=".panel-body" title="{{ help_support_html }}">{{ entry_title }}</span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" name="module_description[{{ language.language_id }}][title]" placeholder="{{ entry_title }}" id="input-title{{ language.language_id }}" value="{{ module_description[language.language_id] ? module_description[language.language_id]['title'] : '' }}" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                                            <div class="col-sm-10">
                                                <textarea name="module_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ module_description[language.language_id] ? module_description[language.language_id]['description'] : '' }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-products">
                            <ul class="nav nav-tabs" id="language-products">
                                {% for language in languages %}
                                    <li>
                                        <a href="#language-products-{{ language.language_id }}" data-toggle="tab">
                                            <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <div class="tab-content">
                                {% set prices_row = 0 %}

                                {% for language in languages %}
                                    <div class="tab-pane" id="language-products-{{ language.language_id }}">
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label" for="input-currency_code{{ language.language_id }}">
                                                <span data-toggle="tooltip" data-container=".panel-body" title="{{ help_currency_cod }}">{{ entry_currency_cod }}</span>
                                            </label>
                                            <div class="col-sm-10">
                                                <select name="module_description[{{ language.language_id }}][currency_code]" id="input-currency_code{{ language.language_id }}" class="form-control">
                                                    <option value="">{{ text_select }}</option>

                                                    {% for currency in currencies %}
                                                        {% if currency.code == module_description[language.language_id]['currency_code'] %}
                                                            <option value="{{ currency.code }}" style="{% if currency.status %}color: #097e09;{% else %}color: #bb0909;{% endif %}" selected="selected">{{ currency.code }} - {{ currency.title }} [{{ currency.status_text }}]</option>
                                                        {% else %}
                                                            <option value="{{ currency.code }}" style="{% if currency.status %}color: #097e09;{% else %}color: #bb0909;{% endif %}">{{ currency.code }} - {{ currency.title }} [{{ currency.status_text }}]</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>

                                                {% if error_module_description[language.language_id]['currency_code'] %}
                                                    <div class="text-danger">{{ error_module_description[language.language_id]['currency_code'] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label" for="input-currency{{ language.language_id }}">
                                                <span data-toggle="tooltip" data-container=".panel-body" title="{{ help_support_html }}">{{ entry_currency }}</span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" name="module_description[{{ language.language_id }}][currency]" placeholder="{{ entry_currency }}" id="input-currency{{ language.language_id }}" value="{{ module_description[language.language_id] ? module_description[language.language_id]['currency'] : '' }}" class="form-control" />

                                                {% if error_module_description[language.language_id]['currency'] %}
                                                    <div class="text-danger">{{ error_module_description[language.language_id]['currency'] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-currency_side{{ language.language_id }}">{{ entry_curr_side }}</label>
                                            <div class="col-sm-10">
                                                <select name="module_description[{{ language.language_id }}][currency_side]" id="input-currency_side{{ language.language_id }}" class="form-control">
                                                    {% if module_description[language.language_id]['currency_side'] == 'left' %}
                                                        <option value="left" selected="selected">{{ text_left_side }}</option>
                                                        <option value="right">{{ text_right_side }}</option>
                                                    {% else %}
                                                        <option value="left">{{ text_left_side }}</option>
                                                        <option value="right" selected="selected">{{ text_right_side }}</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">{{ entry_prices }}</label>
                                            <div class="col-sm-10"></div>
                                        </div>

                                        <div class="tab-pane-wrap" style="overflow: auto;">
                                            <table id="prices{{ language.language_id }}" class="table table-striped table-bordered table-hover" style="min-width: 1000px;">
                                                <thead>
                                                    <tr>
                                                        <td class="text-left required" style="width: 220px;">{{ column_title }}</td>
                                                        <td class="text-left required" style="width: 150px;">{{ column_price }}</td>
                                                        <td class="text-left" style="width: 300px;">{{ column_description }}</td>
                                                        <td class="text-left">{{ column_more }}</td>
                                                        <td class="text-center" style="width: 200px;">{{ column_image }}</td>
                                                        <td class="text-left" style="width: 200px;">
                                                            <span data-toggle="tooltip" data-container="#prices{{ language.language_id }}" title="{{ help_sort_order }}">{{ column_sort_order }}</span>
                                                        </td>
                                                        <td style="width: 70px;"></td>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {% if prices[language.language_id] %}
                                                        {% for price in prices[language.language_id] %}
                                                            <tr id="prices-row{{ prices_row }}">
                                                                <td class="text-left">
                                                                    <input type="text" name="prices[{{ language.language_id }}][{{ prices_row }}][title]" value="{{ price.title }}" placeholder="{{ column_title }}" class="form-control" />

                                                                    {% if error_prices[language.language_id][price.price_name]['title'] %}
                                                                        <div class="text-danger">{{ error_prices[language.language_id][price.price_name]['title'] }}</div>
                                                                    {% endif %}
                                                                </td>

                                                                <td class="text-left">
                                                                    <input type="number" min="0" step="0.01" name="prices[{{ language.language_id }}][{{ prices_row }}][price]" value="{{ price.price }}" placeholder="{{ column_price }}" class="form-control" />

                                                                    {% if error_prices[language.language_id][price.price_name]['price'] %}
                                                                        <div class="text-danger">{{ error_prices[language.language_id][price.price_name]['price'] }}</div>
                                                                    {% endif %}
                                                                </td>

                                                                <td class="text-left">
                                                                    <textarea name="prices[{{ language.language_id }}][{{ prices_row }}][description]" rows="8" placeholder="{{ column_description }}" id="input-description{{ prices_row }}" class="form-control">{{ price.description ? price.description : '' }}</textarea>
                                                                </td>

                                                                <td class="text-left">
                                                                    <textarea name="prices[{{ language.language_id }}][{{ prices_row }}][more]" rows="8" placeholder="{{ column_more }}" id="input-more{{ prices_row }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ price.more ? price.more : '' }}</textarea>
                                                                </td>

                                                                <td class="text-center">
                                                                    <a href="" id="thumb-image{{ prices_row }}" data-toggle="image" class="img-thumbnail">
                                                                        <img src="{{ price.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" />
                                                                    </a>
                                                                    <input type="hidden" name="prices[{{ language.language_id }}][{{ prices_row }}][image]" value="{{ price.image }}" id="input-image{{ prices_row }}" />
                                                                </td>

                                                                <td class="text-left">
                                                                    <input type="number" name="prices[{{ language.language_id }}][{{ prices_row }}][sort_order]" value="{{ price.sort_order }}" min="0" step="1" placeholder="{{ column_sort_order }}" class="form-control" />
                                                                </td>

                                                                <td class="text-center">
                                                                    <input type="hidden" name="prices[{{ language.language_id }}][{{ prices_row }}][price_name]" value="{{ price.price_name }}" />
                                                                    <button type="button" onclick="$('#prices-row{{ prices_row }}, .tooltip').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
                                                                </td>
                                                            </tr>

                                                            {% set prices_row = prices_row + 1 %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </tbody>

                                                <tfoot>
                                                    <tr>
                                                        <td colspan="6"></td>
                                                        <td class="text-center">
                                                            <button type="button" onclick="addSlide('{{ language.language_id }}');" data-toggle="tooltip" title="{{ button_price_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-prices">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-view_prices">{{ entry_view_prices }}</label>
                                <div class="col-sm-10">
                                    <select name="view_prices" id="input-view_prices" class="form-control">
                                        {% if view_prices %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-currency_convertion">
                                    <span data-toggle="tooltip" data-container=".panel-body" title="{{ help_currency_con }}">{{ entry_currency_con }}</span>
                                </label>
                                <div class="col-sm-10">
                                    <select name="currency_convertion" id="input-currency_convertion" class="form-control">
                                        {% if currency_convertion %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-currency_mode">
                                    <span data-toggle="tooltip" data-container=".panel-body" title="{{ help_currency_mod }}">{{ entry_currency_mod }}</span>
                                </label>
                                <div class="col-sm-10">
                                    <select name="currency_mode" id="input-currency_mode" class="form-control">
                                        <optgroup label="{{ text_curr_mod_l1 }}">
                                            <option value="11" {% if currency_mode == '11' %}selected="selected"{% endif %}>{{ text_curr_mod_11 }}</option>
                                        </optgroup>
                                        <optgroup label="{{ text_curr_mod_l2 }}">
                                            <option value="21" {% if currency_mode == '21' %}selected="selected"{% endif %}>{{ text_curr_mod_21 }}</option>
                                            <option value="22" {% if currency_mode == '22' %}selected="selected"{% endif %}>{{ text_curr_mod_22 }}</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-currency_convertion_language">
                                    <span data-toggle="tooltip" data-container=".panel-body" title="{{ help_currency_cl }}">{{ entry_currency_cl }}</span>
                                </label>
                                <div class="col-sm-10">
                                    <select name="currency_convertion_language" id="input-currency_convertion_language" class="form-control">
                                        {% for language in languages %}
                                            {% if language.language_id == currency_convertion_language %}
                                                <option value="{{ language.language_id }}" selected="selected">{{ language.name }}</option>
                                            {% else %}
                                                <option value="{{ language.language_id }}">{{ language.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <br />

                            <ul class="nav nav-tabs" id="language-prices">
                                {% for language in languages %}
                                    <li>
                                        <a href="#language-prices-{{ language.language_id }}" data-toggle="tab">
                                            <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <div class="tab-content">
                                {% for language in languages %}
                                    <div class="tab-pane" id="language-prices-{{ language.language_id }}">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="input-currency_round{{ language.language_id }}">
                                                <span data-toggle="tooltip" data-container=".panel-body" title="{{ help_currency_rnd }}">{{ entry_currency_rnd }}</span>
                                            </label>
                                            <div class="col-sm-12 control-label">
                                                {% for currency in currencies %}
                                                    <div class="row" style="margin-bottom: 15px;">
                                                        <div class="col-sm-2 control-label">{{ currency.title }}</div>
                                                        <div class="col-sm-5">
                                                            <select name="module_description[{{ language.language_id }}][currency_round][{{ currency.code }}]" id="input-currency_round" class="form-control">
                                                                <option value="" {% if module_description[language.language_id]['currency_round'][currency.code] == '' %}selected="selected"{% endif %}>{{ text_curr_rnd_no }}</option>
                                                                <option value="0" {% if module_description[language.language_id]['currency_round'][currency.code] == '0' %}selected="selected"{% endif %}>0</option>
                                                                <option value="1" {% if module_description[language.language_id]['currency_round'][currency.code] == '1' %}selected="selected"{% endif %}>10</option>
                                                                <option value="2" {% if module_description[language.language_id]['currency_round'][currency.code] == '2' %}selected="selected"{% endif %}>100</option>
                                                                <option value="3" {% if module_description[language.language_id]['currency_round'][currency.code] == '3' %}selected="selected"{% endif %}>1000</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <select name="module_description[{{ language.language_id }}][currency_direction][{{ currency.code }}]" id="input-currency_direction" class="form-control">
                                                                <option value="0" {% if module_description[language.language_id]['currency_direction'][currency.code] == '0' %}selected="selected"{% endif %}>{{ text_curr_rnd_dft }}</option>
                                                                <option value="1" {% if module_description[language.language_id]['currency_direction'][currency.code] == '1' %}selected="selected"{% endif %}>{{ text_curr_rnd_min }}</option>
                                                                <option value="2" {% if module_description[language.language_id]['currency_direction'][currency.code] == '2' %}selected="selected"{% endif %}>{{ text_curr_rnd_max }}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-settings">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="status" id="input-status" class="form-control">
                                        {% if status %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-image_width">{{ entry_images }}</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <input type="number" name="image[width]" value="{{ image['width'] }}" placeholder="{{ image_width_default }}" step="1" min="0" id="input-image_width" class="form-control" />
                                        </div>

                                        <div class="col-sm-2">
                                            <input type="number" name="image[height]" value="{{ image['height'] }}" placeholder="{{ image_height_default }}" step="1" min="0" id="input-image_height" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-captcha">{{ entry_captcha }}</label>
                                <div class="col-sm-10">
                                    <select name="captcha" id="input-captcha" class="form-control">
                                        <option value="">{{ text_select }}</option>

                                        {% for captcha_option in captchas %}
                                            {% if captcha_option.value == captcha %}
                                                <option value="{{ captcha_option.value }}" selected="selected">{{ captcha_option.text }}</option>
                                            {% else %}
                                                <option value="{{ captcha_option.value }}">{{ captcha_option.text }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
    <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
    <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
    <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
    <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 

    <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
    <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
    <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
    <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>

    <script type="text/javascript"><!--
        var prices_row = {{ prices_row }};

        function addSlide(language_id) {
            html  = '<tr id="prices-row' + prices_row + '">';
                html += '<td class="text-left"><input type="text" name="prices[' + language_id + '][' + prices_row + '][title]" value="" placeholder="{{ column_title }}" class="form-control" /></td>';
                html += '<td class="text-left"><input type="number" min="0" step="0.01" name="prices[' + language_id + '][' + prices_row + '][price]" value="" placeholder="{{ column_price }}" class="form-control" /></td>';
                html += '<td class="text-left"><textarea name="prices[' + language_id + '][' + prices_row + '][description]" rows="8" placeholder="{{ column_description }}" id="input-description' + prices_row + '" class="form-control"></textarea></td>';
                html += '<td class="text-left"><textarea name="prices[' + language_id + '][' + prices_row + '][more]" rows="8" placeholder="{{ column_more }}" id="input-more' + prices_row + '" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control"></textarea></td>';
                html += '<td class="text-center"><a href="" id="thumb-image' + prices_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="prices[' + language_id + '][' + prices_row + '][image]" value="" id="input-image' + prices_row + '" /></td>';
                html += '<td class="text-right"><input type="text" name="prices[' + language_id + '][' + prices_row + '][sort_order]" value="" placeholder="{{ column_sort_order }}" class="form-control" /></td>';
                html += '<td class="text-left"><input type="hidden" name="prices[' + language_id + '][' + prices_row + '][price_name]" value="' + uniqid() + '' + prices_row + '" /><button type="button" onclick="$(\'#prices-row' + prices_row  + ', .tooltip\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#prices' + language_id + ' tbody').append(html);

            addSummernote('#input-more' + prices_row);

            prices_row++;
        }

        function uniqid(prefix = '', random = false) {
            const sec = Date.now() * 1000 + Math.random() * 1000;
            const id = sec.toString(16).replace(/\./g, '').padEnd(14, '0');
            return `${prefix}${id}${random ? `.${Math.trunc(Math.random() * 100000000)}`:''}`;
        };

        function addSummernote(element) {
            $(element).summernote({
                lang: $(this).attr('data-lang'),
                disableDragAndDrop: true,
                height: 300,
                emptyPara: '',
                codemirror: { // codemirror options
                    mode: 'text/html',
                    htmlMode: true,
                    lineNumbers: true,
                    theme: 'monokai'
                },
                fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '24', '30', '36', '48' , '64'],
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'image', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ],
                popover: {
                    image: [
                        ['custom', ['imageAttributes']],
                        ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
                        ['float', ['floatLeft', 'floatRight', 'floatNone']],
                        ['remove', ['removeMedia']]
                    ],
                },
                buttons: {
                    image: function() {
                        var ui = $.summernote.ui;

                        // create button
                        var button = ui.button({
                            contents: '<i class="note-icon-picture" />',
                            tooltip: $.summernote.lang[$.summernote.options.lang].image.image,
                            click: function () {
                                $('#modal-image').remove();

                                $.ajax({
                                    url: 'index.php?route=common/filemanager&user_token=' + getURLVar('user_token'),
                                    dataType: 'html',
                                    beforeSend: function() {
                                        $('#button-image i').replaceWith('<i class="fa fa-circle-o-notch fa-spin"></i>');
                                        $('#button-image').prop('disabled', true);
                                    },
                                    complete: function() {
                                        $('#button-image i').replaceWith('<i class="fa fa-upload"></i>');
                                        $('#button-image').prop('disabled', false);
                                    },
                                    success: function(html) {
                                        $('body').append('<div id="modal-image" class="modal">' + html + '</div>');

                                        $('#modal-image').modal('show');

                                        $('#modal-image').delegate('a.thumbnail', 'click', function(e) {
                                            e.preventDefault();

                                            $(element).summernote('insertImage', $(this).attr('href'));

                                            $('#modal-image').modal('hide');
                                        });
                                    }
                                });
                            }
                        });

                        return button.render();
                    }
                }
            });
        }
    //--></script>

    <script type="text/javascript"><!--
        $('#language a:first').tab('show');
        $('#language-general a:first').tab('show');
        $('#language-products a:first').tab('show');
        $('#language-prices a:first').tab('show');
    //--></script>
</div>

{{ footer }}